.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  height: 3em;
  border-radius: 3px;
}

.default-button {
  color: var(--accent-text);
  background-color: var(--accent-background-color);
  border-color: var(--accent-background-color);
}
